.product{
    display: flex;
}
.product-name{
    border-bottom: 1px solid lightgray;
    margin-left: 5px;
    padding-left: 5px;
}
.product-img{
    margin-left: 10px;
}
button{
    background-color: gold;
}